[package]
name = "veloq-bufpool"
version = "0.1.0"
edition = "2024"

[dependencies]

[target.'cfg(target_os = "linux")'.dependencies]
libc = { workspace = true }

[target.'cfg(target_os = "windows")'.dependencies]
windows-sys = { workspace = true }

[dev-dependencies]
tempfile = "3"
