[package]
name = "veloq-runtime"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
description.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
readme.workspace = true

[dependencies]
veloq-bitset = { workspace = true }
veloq-sync = { workspace = true }
veloq-local = { workspace = true }
veloq-buf = { workspace = true }
veloq-atomic-waker = { workspace = true }

num_cpus = "1.17.0"
crossbeam-utils = { workspace = true }

crossbeam-queue = { workspace = true }
crossbeam-deque = "0.8"
tracing = "0.1.44"

[target.'cfg(target_os = "linux")'.dependencies]
io-uring = "0.7.11"
libc = { workspace = true }

[target.'cfg(target_os = "windows")'.dependencies]
windows-sys = { workspace = true }
veloq-wheel = { workspace = true }
rustc-hash = "2.1.1"

[dev-dependencies]
criterion = { version = "0.7.0", features = ["html_reports"] }
tracing-subscriber = "0.3.22"

[[bench]]
name = "fs_benchmark"
harness = false
